services:
  mongo:
    image: mongo:6
    container_name: lms-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  server:
    build: ./server
    container_name: lms-server
    command: npm run dev
    volumes:
      - ./server:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "4000:4000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/lms
      - PORT=4000
    depends_on:
      - mongo

  client:
    build: ./client
    container_name: lms-client
    command: npm run dev
    volumes:
      - ./client:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "3000:3000"
    depends_on:
      - server

volumes:
  mongo-data:
